body{
    margin: 0;
    padding: 0;
    background: url(https://wallpaperaccess.com/full/6881534.png) no-repeat;
    background-size: cover;
    opacity: 45;
  }
  .box{
    width: 610px;
    height: 580px;
    background: #090909d2;
    padding: 15px;
    text-align: center;
    margin: auto;
    margin-top: 10%;
    color: rgb(245, 245, 245);
    font-family: 'sans-serif', 'Arial', 'Helvetica', 'sans-serif';
    font-size: 40px;
    border-radius: 13%;
  }

  .box-img{
  border-radius: 60%;
  width: 400px;
  height: 400px;
}
.box h1{
    font-size: 30px;
    letter-spacing: 2px;
    font-family: arial;
    margin: auto;
  }

  h5 {
    font-size: 30px;
    color: rgb(240, 237, 237);
    font-weight: 150;
    font-family: trebuchet MS;
    margin: auto;
    padding-top: 10px;
  }

p {
  font-size: 40px;
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.952);
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
}