body{
    margin: 0;
    padding: 0;
    background: url(https://wallpaperaccess.com/full/6881534.png);
    background-size: cover;
  }
  .box{
    width: 610px;
    height: 570px;
    background: #090909d2;
    padding: 15px;
    text-align: center;
    margin: 0 auto;
    margin-top: 10%;
    color: rgb(245, 245, 245);
    font-family: 'sans-serif', 'Arial', 'Helvetica', 'sans-serif';
    font-size: 40px;
    border-radius: 13%;
  }

  .box-img{
  border-radius: 50%;
  width: 350px;
  height: 330px;
  opacity: 100%;
}
.box h1{
    font-size: 25px;
    font-family: helvetica;
    margin: auto center;
  }

  h5 {
    font-size: 30px;
    color: rgb(240, 237, 237);
    font-weight: 150;
    font-family: trebuchet MS;
    margin: auto;
    padding-top: 10px;
  }

p {
  font-size: 40px;
  color: rgba(255, 255, 255, 0.952);
  margin: auto;
  font-family: montserrat ;
  padding-top: 15px;
}
