* {
  margin: auto;
}
body{
    margin: 0;
    padding: 0;
    background: url(https://wallpaperaccess.com/full/6881534.png);
    background-size: cover;
  }
  .box{
    width: 530px;
    background: rgba(95, 95, 95, 0.4);
    padding: 50px;
    text-align: center;
    margin: auto;
    margin-top: 4%;
    color: rgb(255, 255, 255);
    font-family: 'sans-serif',montserrat;
    font-size: 40px;
  }

  .box-img{
  border-radius: 50%;
  width: 350px;
  height: 350px;
}
.box h1{
    font-size: 30px;
    letter-spacing: 2px;
    font-family: arial;
  }

  h5 {
    font-size: 30px;
    color: rgb(242, 242, 242);
    font-weight: 150;
    font-family: arial;
  }

p {
  font-size: 30px;
  font-family: helvetica;
}